In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [19]:
dataset=pd.read_csv('Match_dataset.csv')
dataset2=pd.read_csv('match_results.csv')
merged = pd.concat([dataset, dataset2], ignore_index=True)

In [7]:
#dataset shape : Dataset ka size pata chalta hai (small/large)
dataset.shape

(600, 21)

In [ ]:
#Step 2: First Few Rows:to understand the data structures
dataset.head()

,Match_ID,Date,Venue,Team_A,Team_B,Stage,Team_A_Ranking,Team_B_Ranking,Team_A_Form,Team_B_Form,...,HeadToHead_B_Wins,Venue_HomeAdvantage_A,Venue_HomeAdvantage_B,Pitch_Type,Avg_T20_Score_Venue,Toss_Winner,Toss_Decision,Team_A_Tech_Index,Team_B_Tech_Index,Match_Total
0,M0001,3/6/2026,Chennai,New Zealand,Scotland,Super8,5,13,76.97,54.62,...,4,0,0,Spin-Friendly,155,Team_A,Field,251.27,156.37,168
1,M0002,3/7/2026,Mumbai,South Africa,Sri Lanka,Final,6,9,64.19,58.75,...,6,0,0,Flat,175,Team_B,Bat,249.33,187.44,150
2,M0003,3/2/2026,Kolkata,India,PNG,Group,1,20,69.87,45.14,...,0,1,0,Spin-Friendly,165,Team_B,Field,298.24,54.03,160
3,M0004,2/22/2026,Colombo,Netherlands,Ireland,Group,11,12,85.59,61.94,...,4,0,0,Spin-Friendly,160,Team_A,Bat,197.19,174.95,145
4,M0005,2/28/2026,Mumbai,Namibia,South Africa,Group,15,6,45.98,88.52,...,15,0,0,Flat,175,Team_B,Bat,124.91,271.68,185

In [9]:
dataset.tail()

,Match_ID,Date,Venue,Team_A,Team_B,Stage,Team_A_Ranking,Team_B_Ranking,Team_A_Form,Team_B_Form,...,HeadToHead_B_Wins,Venue_HomeAdvantage_A,Venue_HomeAdvantage_B,Pitch_Type,Avg_T20_Score_Venue,Toss_Winner,Toss_Decision,Team_A_Tech_Index,Team_B_Tech_Index,Match_Total
595,M0596,2/12/2026,Kolkata,England,Zimbabwe,Group,3,14,77.24,61.10,...,3,0,0,Spin-Friendly,165,Team_B,Field,294.94,154.29,164
596,M0597,2/14/2026,Colombo,Australia,England,Group,2,3,85.50,78.79,...,8,0,0,Spin-Friendly,160,Team_B,Bat,296.33,278.65,187
597,M0598,2/13/2026,Chennai,Canada,Australia,Group,18,2,36.86,72.24,...,23,0,0,Spin-Friendly,155,Team_A,Bat,70.96,285.08,149
598,M0599,2/21/2026,Delhi,Namibia,Pakistan,Group,15,4,48.37,53.93,...,7,0,0,Pace-Friendly,170,Team_B,Bat,129.25,253.03,197
599,M0600,2/7/2026,Delhi,Netherlands,Canada,Group,11,18,56.36,46.50,...,0,0,0,Pace-Friendly,170,Team_A,Bat,192.85,96.30,187

In [11]:
#data types
dataset.dtypes

Match_ID                  object
Date                      object
Venue                     object
Team_A                    object
Team_B                    object
Stage                     object
Team_A_Ranking             int64
Team_B_Ranking             int64
Team_A_Form              float64
Team_B_Form              float64
HeadToHead_A_Wins          int64
HeadToHead_B_Wins          int64
Venue_HomeAdvantage_A      int64
Venue_HomeAdvantage_B      int64
Pitch_Type                object
Avg_T20_Score_Venue        int64
Toss_Winner               object
Toss_Decision             object
Team_A_Tech_Index        float64
Team_B_Tech_Index        float64
Match_Total                int64
dtype: object

In [12]:
#Step 4: Missing Values
dataset.isnull().sum()

Match_ID                 0
Date                     0
Venue                    0
Team_A                   0
Team_B                   0
Stage                    0
Team_A_Ranking           0
Team_B_Ranking           0
Team_A_Form              0
Team_B_Form              0
HeadToHead_A_Wins        0
HeadToHead_B_Wins        0
Venue_HomeAdvantage_A    0
Venue_HomeAdvantage_B    0
Pitch_Type               0
Avg_T20_Score_Venue      0
Toss_Winner              0
Toss_Decision            0
Team_A_Tech_Index        0
Team_B_Tech_Index        0
Match_Total              0
dtype: int64

In [13]:
#Step 5: Statistical Summary
dataset.describe()

,Team_A_Ranking,Team_B_Ranking,Team_A_Form,Team_B_Form,HeadToHead_A_Wins,HeadToHead_B_Wins,Venue_HomeAdvantage_A,Venue_HomeAdvantage_B,Avg_T20_Score_Venue,Team_A_Tech_Index,Team_B_Tech_Index,Match_Total
count,600.000000,600.000000,600.00000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,10.580000,10.365000,61.17865,61.038950,7.768333,7.858333,0.071667,0.041667,166.781667,190.102250,191.911167,167.296667
std,5.821519,5.720108,15.70957,15.172641,6.186149,6.155058,0.258150,0.199993,8.066750,75.612595,74.113008,24.866562
min,1.000000,1.000000,14.71000,13.280000,0.000000,0.000000,0.000000,0.000000,155.000000,47.880000,41.050000,103.000000
25%,6.000000,5.000000,49.92000,51.015000,2.000000,3.000000,0.000000,0.000000,160.000000,123.220000,130.115000,150.750000
50%,11.000000,10.000000,60.89000,61.080000,7.000000,7.000000,0.000000,0.000000,165.000000,191.230000,191.930000,167.000000
75%,16.000000,15.000000,72.83250,71.350000,12.000000,12.000000,0.000000,0.000000,175.000000,251.585000,259.805000,184.250000
max,20.000000,20.000000,95.00000,95.000000,27.000000,29.000000,1.000000,1.000000,180.000000,339.540000,344.430000,243.000000

In [14]:
#Unique values
dataset['Team_A'].nunique()
dataset['Pitch_Type'].value_counts()

Pitch_Type
Spin-Friendly    251
Pace-Friendly    178
Flat             171
Name: count, dtype: int64

In [16]:
#Step 7: Target Variable Distribution
dataset2['Winner'].value_counts()

Winner
Team_A    318
Team_B    282
Name: count, dtype: int64

In [18]:
#Step 8: Correlations
dataset.corr(numeric_only=True)

,Team_A_Ranking,Team_B_Ranking,Team_A_Form,Team_B_Form,HeadToHead_A_Wins,HeadToHead_B_Wins,Venue_HomeAdvantage_A,Venue_HomeAdvantage_B,Avg_T20_Score_Venue,Team_A_Tech_Index,Team_B_Tech_Index,Match_Total
Team_A_Ranking,1.000000,-0.053394,-0.775727,0.073282,-0.450794,0.378335,-0.377630,0.039433,0.030217,-0.985727,0.064559,0.005025
Team_B_Ranking,-0.053394,1.000000,0.059601,-0.759607,0.393366,-0.368099,0.032001,-0.224920,-0.048271,0.057233,-0.984780,0.005658
Team_A_Form,-0.775727,0.059601,1.000000,-0.103178,0.365741,-0.279586,0.286373,-0.079575,-0.045141,0.846791,-0.069087,-0.039102
Team_B_Form,0.073282,-0.759607,-0.103178,1.000000,-0.311649,0.270840,-0.055855,0.184261,0.068719,-0.082455,0.829417,0.003997
HeadToHead_A_Wins,-0.450794,0.393366,0.365741,-0.311649,1.000000,0.062405,0.143179,-0.113630,-0.033700,0.449969,-0.397524,-0.017210
HeadToHead_B_Wins,0.378335,-0.368099,-0.279586,0.270840,0.062405,1.000000,-0.142795,0.057695,0.035992,-0.366369,0.363719,0.027271
Venue_HomeAdvantage_A,-0.377630,0.032001,0.286373,-0.055855,0.143179,-0.142795,1.000000,-0.057935,-0.010912,0.374253,-0.039877,0.049216
Venue_HomeAdvantage_B,0.039433,-0.224920,-0.079575,0.184261,-0.113630,0.057695,-0.057935,1.000000,-0.044022,-0.052734,0.225641,0.075055
Avg_T20_Score_Venue,0.030217,-0.048271,-0.045141,0.068719,-0.033700,0.035992,-0.010912,-0.044022,1.000000,-0.017484,0.076561,0.442312
Team_A_Tech_Index,-0.985727,0.057233,0.846791,-0.082455,0.449969,-0.366369,0.374253,-0.052734,-0.017484,1.000000,-0.067547,-0.005487
Team_B_Tech_Index,0.064559,-0.984780,-0.069087,0.829417,-0.397524,0.363719,-0.039877,0.225641,0.076561,-0.067547,1.000000,0.008073
Match_Total,0.005025,0.005658,-0.039102,0.003997,-0.017210,0.027271,0.049216,0.075055,0.442312,-0.005487,0.008073,1.000000

In [20]:
#Step 9: Group By Analysis
merged.groupby('Winner')['Team_A_Ranking'].mean()

Winner
Team_A   NaN
Team_B   NaN
Name: Team_A_Ranking, dtype: float64

In [22]:
# Inspect unique values
print(merged['Winner'].unique())

# Check how many missing values
print(merged['Winner'].isna().sum())

[nan 'Team_A' 'Team_B']
600

In [23]:
print(merged['Winner'].value_counts(dropna=False))

Winner
NaN       600
Team_A    318
Team_B    282
Name: count, dtype: int64

In [24]:
import numpy as np

merged['Winner_Ranking'] = np.where(
    merged['Winner'] == 'Team_A', merged['Team_A_Ranking'],
    np.where(merged['Winner'] == 'Team_B', merged['Team_B_Ranking'], np.nan)
)

print(merged.groupby('Winner')['Winner_Ranking'].mean())

Winner
Team_A   NaN
Team_B   NaN
Name: Winner_Ranking, dtype: float64

In [25]:
# Clean Winner column
merged['Winner'] = merged['Winner'].str.strip().str.upper()

# Create Winner_Ranking column
merged['Winner_Ranking'] = np.where(
    merged['Winner'] == 'TEAM_A', merged['Team_A_Ranking'],
    np.where(merged['Winner'] == 'TEAM_B', merged['Team_B_Ranking'], np.nan)
)

print(merged.groupby('Winner')['Winner_Ranking'].mean())

Winner
TEAM_A   NaN
TEAM_B   NaN
Name: Winner_Ranking, dtype: float64

In [26]:
import numpy as np

merged['Winner_Ranking'] = np.where(
    merged['Winner'] == 'TEAM_A', merged['Team_A_Ranking'],
    np.where(merged['Winner'] == 'TEAM_B', merged['Team_B_Ranking'], np.nan)
)

print(merged.groupby('Winner')['Winner_Ranking'].mean())

Winner
TEAM_A   NaN
TEAM_B   NaN
Name: Winner_Ranking, dtype: float64

In [27]:
merged['Winner'] = merged['Winner'].str.strip()

In [28]:
print(merged['Winner'].unique())
print(merged['Winner'].value_counts(dropna=False))

[nan 'TEAM_A' 'TEAM_B']
Winner
NaN       600
TEAM_A    318
TEAM_B    282
Name: count, dtype: int64

In [29]:
print(merged[['Winner','Team_A_Ranking','Team_B_Ranking']].head(20))

   Winner  Team_A_Ranking  Team_B_Ranking
0     NaN             5.0            13.0
1     NaN             6.0             9.0
2     NaN             1.0            20.0
3     NaN            11.0            12.0
4     NaN            15.0             6.0
5     NaN             8.0            17.0
6     NaN            17.0            19.0
7     NaN            16.0             6.0
8     NaN            18.0            12.0
9     NaN             4.0             6.0
10    NaN            11.0            20.0
11    NaN             1.0            11.0
12    NaN            12.0             7.0
13    NaN            19.0            18.0
14    NaN            18.0            10.0
15    NaN             9.0             3.0
16    NaN            18.0            14.0
17    NaN             5.0            16.0
18    NaN            17.0             7.0
19    NaN            20.0            16.0

In [30]:
# Show first rows where Winner is TEAM_A
print(merged[merged['Winner'] == 'TEAM_A'][['Winner','Team_A_Ranking','Team_B_Ranking']].head())

# Show first rows where Winner is TEAM_B
print(merged[merged['Winner'] == 'TEAM_B'][['Winner','Team_A_Ranking','Team_B_Ranking']].head())

     Winner  Team_A_Ranking  Team_B_Ranking
600  TEAM_A             NaN             NaN
601  TEAM_A             NaN             NaN
602  TEAM_A             NaN             NaN
603  TEAM_A             NaN             NaN
605  TEAM_A             NaN             NaN
     Winner  Team_A_Ranking  Team_B_Ranking
604  TEAM_B             NaN             NaN
607  TEAM_B             NaN             NaN
608  TEAM_B             NaN             NaN
612  TEAM_B             NaN             NaN
614  TEAM_B             NaN             NaN

In [31]:


merged['Winner_Ranking'] = np.where(
    merged['Winner'] == 'TEAM_A', merged['Team_A_Ranking'],
    np.where(merged['Winner'] == 'TEAM_B', merged['Team_B_Ranking'], np.nan)
)

print(merged.groupby('Winner')['Winner_Ranking'].mean())

Winner
TEAM_A   NaN
TEAM_B   NaN
Name: Winner_Ranking, dtype: float64

In [32]:
print(merged[merged['Winner'] == 'TEAM_A'][['Winner','Team_A_Ranking','Team_B_Ranking']].head(10))
print(merged[merged['Winner'] == 'TEAM_B'][['Winner','Team_A_Ranking','Team_B_Ranking']].head(10))

     Winner  Team_A_Ranking  Team_B_Ranking
600  TEAM_A             NaN             NaN
601  TEAM_A             NaN             NaN
602  TEAM_A             NaN             NaN
603  TEAM_A             NaN             NaN
605  TEAM_A             NaN             NaN
606  TEAM_A             NaN             NaN
609  TEAM_A             NaN             NaN
610  TEAM_A             NaN             NaN
611  TEAM_A             NaN             NaN
613  TEAM_A             NaN             NaN
     Winner  Team_A_Ranking  Team_B_Ranking
604  TEAM_B             NaN             NaN
607  TEAM_B             NaN             NaN
608  TEAM_B             NaN             NaN
612  TEAM_B             NaN             NaN
614  TEAM_B             NaN             NaN
615  TEAM_B             NaN             NaN
616  TEAM_B             NaN             NaN
618  TEAM_B             NaN             NaN
619  TEAM_B             NaN             NaN
620  TEAM_B             NaN             NaN

In [33]:
def get_winner_ranking(row):
    if row['Winner'] == 'TEAM_A':
        return row['Team_A_Ranking']
    elif row['Winner'] == 'TEAM_B':
        return row['Team_B_Ranking']
    else:
        return np.nan

merged['Winner_Ranking'] = merged.apply(get_winner_ranking, axis=1)

print(merged.groupby('Winner')['Winner_Ranking'].mean())

Winner
TEAM_A   NaN
TEAM_B   NaN
Name: Winner_Ranking, dtype: float64

In [34]:
merged = pd.merge(dataset, dataset2, on="Match_ID", how="outer")

In [35]:
dataset['Match_ID'] = dataset['Match_ID'].astype(str).str.strip()
dataset2['Match_ID'] = dataset2['Match_ID'].astype(str).str.strip()

In [36]:
merged = pd.merge(dataset, dataset2, on="Match_ID", how="inner")

In [37]:

merged['Winner_Ranking'] = np.where(
    merged['Winner'] == 'TEAM_A', merged['Team_A_Ranking'],
    np.where(merged['Winner'] == 'TEAM_B', merged['Team_B_Ranking'], np.nan)
)

print(merged.groupby('Winner')['Winner_Ranking'].mean())

Winner
Team_A   NaN
Team_B   NaN
Name: Winner_Ranking, dtype: float64

In [38]:
#data preprocesing
merged = dataset.merge(dataset2, on='Match_ID')

In [42]:
from sklearn.preprocessing import LabelEncoder
import pickle

In [43]:
# Load both CSV files
dataset = pd.read_csv('Match_dataset.csv')
dataset2 = pd.read_csv('match_results.csv')

# Merge them
merged = dataset.merge(dataset2, on='Match_ID')

print(f"✅ Data loaded successfully!")
print(f"   Match_dataset: {dataset.shape}")
print(f"   match_results: {dataset2.shape}")
print(f"   Merged: {merged.shape}")

✅ Data loaded successfully!
   Match_dataset: (600, 21)
   match_results: (600, 2)
   Merged: (600, 22)

In [44]:
# All text columns that need encoding
columns_to_encode = [
    'Team_A',
    'Team_B',
    'Venue',
    'Stage',
    'Pitch_Type',
    'Toss_Winner',
    'Toss_Decision'
]

print(f"✅ Will encode {len(columns_to_encode)} columns:")
for i, col in enumerate(columns_to_encode, 1):
    unique = merged[col].nunique()
    print(f"   {i}. {col:20} ({unique} unique values)")

✅ Will encode 7 columns:
   1. Team_A               (20 unique values)
   2. Team_B               (20 unique values)
   3. Venue                (7 unique values)
   4. Stage                (4 unique values)
   5. Pitch_Type           (3 unique values)
   6. Toss_Winner          (2 unique values)
   7. Toss_Decision        (2 unique values)

In [45]:
# Create copy
df_encoded = merged.copy()

# Dictionary to store encoders
label_encoders = {}

# Encode each column
for col in columns_to_encode:
    # Create encoder
    le = LabelEncoder()
    
    # Encode column
    df_encoded[col + '_encoded'] = le.fit_transform(merged[col])
    
    # Save encoder
    label_encoders[col] = le
    
    # Show example
    original = merged[col].iloc[0]
    encoded = df_encoded[col + '_encoded'].iloc[0]
    print(f"✅ {col:20} : '{original}' → {encoded}")

print(f"\n🎉 All {len(columns_to_encode)} columns encoded!")

✅ Team_A               : 'New Zealand' → 10
✅ Team_B               : 'Scotland' → 14
✅ Venue                : 'Chennai' → 1
✅ Stage                : 'Super8' → 3
✅ Pitch_Type           : 'Spin-Friendly' → 2
✅ Toss_Winner          : 'Team_A' → 0
✅ Toss_Decision        : 'Field' → 1

🎉 All 7 columns encoded!

In [46]:
# Toss Winner Binary
df_encoded['Toss_Winner_Binary'] = merged['Toss_Winner'].map({
    'Team_A': 1,
    'Team_B': 0
})

# Toss Decision Binary
df_encoded['Toss_Decision_Binary'] = merged['Toss_Decision'].map({
    'Bat': 0,
    'Field': 1
})

# Winner Binary
df_encoded['Winner_Binary'] = merged['Winner'].map({
    'Team_A': 1,
    'Team_B': 0
})

print("✅ Binary columns created:")
print("   • Toss_Winner_Binary (1=Team_A, 0=Team_B)")
print("   • Toss_Decision_Binary (0=Bat, 1=Field)")
print("   • Winner_Binary (1=Team_A, 0=Team_B)")

✅ Binary columns created:
   • Toss_Winner_Binary (1=Team_A, 0=Team_B)
   • Toss_Decision_Binary (0=Bat, 1=Field)
   • Winner_Binary (1=Team_A, 0=Team_B)

In [47]:
# Save encoders
with open('label_encoders.pkl', 'wb') as f:
    pickle.dump(label_encoders, f)

print("✅ Encoders saved to: label_encoders.pkl")

✅ Encoders saved to: label_encoders.pkl

In [48]:
# Save encoded dataset
df_encoded.to_csv('data_encoded.csv', index=False)

print("✅ Encoded data saved to: data_encoded.csv")
print(f"   Shape: {df_encoded.shape}")
print(f"   Columns: {df_encoded.shape[1]}")

✅ Encoded data saved to: data_encoded.csv
   Shape: (600, 32)
   Columns: 32

In [49]:
# Show first match - Before and After
print("🔴 BEFORE (Original):")
print("-" * 60)
for col in columns_to_encode[:3]:
    print(f"   {col:15} : {merged[col].iloc[0]}")

print("\n🟢 AFTER (Encoded):")
print("-" * 60)
for col in columns_to_encode[:3]:
    original = merged[col].iloc[0]
    encoded = df_encoded[col + '_encoded'].iloc[0]
    print(f"   {col:15} : {original} → {encoded}")

🔴 BEFORE (Original):
------------------------------------------------------------
   Team_A          : New Zealand
   Team_B          : Scotland
   Venue           : Chennai

🟢 AFTER (Encoded):
------------------------------------------------------------
   Team_A          : New Zealand → 10
   Team_B          : Scotland → 14
   Venue           : Chennai → 1

In [52]:
#📋 Model Training Ke Liye Code (Jupyter Cells)

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import numpy as np

print("✅ ML libraries imported!")

✅ ML libraries imported!

In [54]:
# Features (Input to model)
feature_columns = [
    'Team_A_encoded',
    'Team_B_encoded',
    'Team_A_Ranking',
    'Team_B_Ranking',
    'Team_A_Form',
    'Team_B_Form',
    'HeadToHead_A_Wins',
    'HeadToHead_B_Wins',
    'Venue_encoded',
    'Venue_HomeAdvantage_A',
    'Venue_HomeAdvantage_B',
    'Pitch_Type_encoded',
    'Avg_T20_Score_Venue',
    'Toss_Winner_Binary',
    'Toss_Decision_encoded',
    'Team_A_Tech_Index',
    'Team_B_Tech_Index',
    'Stage_encoded'
]

# X = Features (what model will learn from)
X = df_encoded[feature_columns]

# y = Target (what model will predict)
y = df_encoded['Winner_Binary']

print(f"✅ Features selected!")
print(f"   X shape: {X.shape} (600 matches × {len(feature_columns)} features)")
print(f"   y shape: {y.shape} (600 winners)")
print(f"\n📊 Winner distribution:")
print(f"   Team_A wins: {y.sum()} ({y.sum()/len(y)*100:.1f}%)")
print(f"   Team_B wins: {len(y)-y.sum()} ({(len(y)-y.sum())/len(y)*100:.1f}%)")

✅ Features selected!
   X shape: (600, 18) (600 matches × 18 features)
   y shape: (600,) (600 winners)

📊 Winner distribution:
   Team_A wins: 318 (53.0%)
   Team_B wins: 282 (47.0%)

In [55]:
# Split data: 80% training, 20% testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2,      # 20% for testing
    random_state=42     # Reproducible results
)

print("✅ Data split complete!")
print(f"\n📊 Training Set:")
print(f"   Samples: {len(X_train)} (80%)")
print(f"   Features: {X_train.shape[1]}")

print(f"\n📊 Testing Set:")
print(f"   Samples: {len(X_test)} (20%)")
print(f"   Features: {X_test.shape[1]}")

✅ Data split complete!

📊 Training Set:
   Samples: 480 (80%)
   Features: 18

📊 Testing Set:
   Samples: 120 (20%)
   Features: 18

In [56]:
# Initialize Random Forest
model = RandomForestClassifier(
    n_estimators=100,      # 100 decision trees
    max_depth=10,          # Maximum tree depth
    min_samples_split=5,   # Minimum samples to split
    random_state=42        # Reproducible results
)

print("✅ Random Forest model created!")
print(f"\n⚙️ Model Parameters:")
print(f"   Number of trees: 100")
print(f"   Max depth: 10")
print(f"   Min samples split: 5")

✅ Random Forest model created!

⚙️ Model Parameters:
   Number of trees: 100
   Max depth: 10
   Min samples split: 5

In [57]:
print("🎓 Training started...")

# Train the model
model.fit(X_train, y_train)

print("✅ Training complete!")
print("   Model has learned patterns from 480 matches")
print("   Ready to make predictions! 🚀")

🎓 Training started...
✅ Training complete!
   Model has learned patterns from 480 matches
   Ready to make predictions! 🚀

In [58]:
# Predict on training data
y_train_pred = model.predict(X_train)
train_accuracy = accuracy_score(y_train, y_train_pred)

# Predict on testing data
y_test_pred = model.predict(X_test)
test_accuracy = accuracy_score(y_test, y_test_pred)

print("✅ Predictions complete!")
print(f"\n📊 Results:")
print(f"   Training Accuracy: {train_accuracy*100:.2f}%")
print(f"   Testing Accuracy: {test_accuracy*100:.2f}%")
print(f"   Gap: {(train_accuracy - test_accuracy)*100:.2f}%")

if test_accuracy >= 0.80:
    print("\n🌟 EXCELLENT! Model is highly accurate!")
elif test_accuracy >= 0.70:
    print("\n✅ GOOD! Model performs well!")
else:
    print("\n⚠️ Needs improvement")

✅ Predictions complete!

📊 Results:
   Training Accuracy: 98.54%
   Testing Accuracy: 85.83%
   Gap: 12.71%

🌟 EXCELLENT! Model is highly accurate!

In [59]:
# Confusion matrix
cm = confusion_matrix(y_test, y_test_pred)

print("📊 Confusion Matrix:")
print("\n          Predicted")
print("          Team_B  Team_A")
print(f"Actual Team_B  {cm[0][0]:3}     {cm[0][1]:3}")
print(f"       Team_A  {cm[1][0]:3}     {cm[1][1]:3}")

print(f"\n💡 Interpretation:")
print(f"   ✅ Correct Team_B predictions: {cm[0][0]}")
print(f"   ✅ Correct Team_A predictions: {cm[1][1]}")
print(f"   ❌ Wrong predictions: {cm[0][1] + cm[1][0]}")
print(f"   Total accuracy: {(cm[0][0] + cm[1][1])/cm.sum()*100:.2f}%")

📊 Confusion Matrix:

          Predicted
          Team_B  Team_A
Actual Team_B   39       6
       Team_A   11      64

💡 Interpretation:
   ✅ Correct Team_B predictions: 39
   ✅ Correct Team_A predictions: 64
   ❌ Wrong predictions: 17
   Total accuracy: 85.83%

In [60]:
# Get feature importance
feature_importance = pd.DataFrame({
    'Feature': feature_columns,
    'Importance': model.feature_importances_
}).sort_values('Importance', ascending=False)

print("🎯 Top 10 Most Important Features:")
print("=" * 60)
for i, row in feature_importance.head(10).iterrows():
    print(f"{row['Feature']:30} → {row['Importance']:.4f}")

print("\n💡 Higher value = More important for predictions")

🎯 Top 10 Most Important Features:
============================================================
Team_A_Tech_Index              → 0.1678
Team_A_Ranking                 → 0.1470
Team_B_Ranking                 → 0.1441
Team_B_Tech_Index              → 0.1283
Team_B_Form                    → 0.0960
Team_A_Form                    → 0.0948
HeadToHead_B_Wins              → 0.0528
HeadToHead_A_Wins              → 0.0445
Team_A_encoded                 → 0.0318
Team_B_encoded                 → 0.0250

💡 Higher value = More important for predictions

In [61]:
# Save trained model
with open('cricket_model.pkl', 'wb') as f:
    pickle.dump(model, f)

# Save feature columns list
with open('feature_columns.pkl', 'wb') as f:
    pickle.dump(feature_columns, f)

print("✅ Model saved successfully!")
print("\n📁 Files created:")
print("   • cricket_model.pkl (trained model)")
print("   • feature_columns.pkl (feature list)")
print("   • label_encoders.pkl (from preprocessing)")

✅ Model saved successfully!

📁 Files created:
   • cricket_model.pkl (trained model)
   • feature_columns.pkl (feature list)
   • label_encoders.pkl (from preprocessing)

In [62]:
# Take first test sample
sample = X_test.iloc[0:1]
actual = "Team_A" if y_test.iloc[0] == 1 else "Team_B"
prediction = model.predict(sample)[0]
predicted = "Team_A" if prediction == 1 else "Team_B"
confidence = model.predict_proba(sample)[0].max() * 100

print("🎮 Sample Prediction:")
print("=" * 60)
print(f"Actual Winner: {actual}")
print(f"Predicted: {predicted} (Confidence: {confidence:.1f}%)")
print(f"Result: {'✅ CORRECT!' if actual == predicted else '❌ WRONG'}")

🎮 Sample Prediction:
============================================================
Actual Winner: Team_A
Predicted: Team_A (Confidence: 100.0%)
Result: ✅ CORRECT!

In [63]:
print("=" * 70)
print("✅ MODEL TRAINING COMPLETE!")
print("=" * 70)

print(f"\n📊 Final Results:")
print(f"   Training Accuracy: {train_accuracy*100:.2f}%")
print(f"   Testing Accuracy: {test_accuracy*100:.2f}%")
print(f"   Total Predictions: {len(y_test)}")
print(f"   Correct: {(y_test == y_test_pred).sum()}")
print(f"   Wrong: {(y_test != y_test_pred).sum()}")

print(f"\n🎯 Model Performance:")
if test_accuracy >= 0.80:
    print("   🌟 EXCELLENT - Ready for production!")
elif test_accuracy >= 0.70:
    print("   ✅ GOOD - Performs well!")
else:
    print("   ⚠️ OKAY - Can be improved")

print(f"\n📁 Saved Files:")
print(f"   1. cricket_model.pkl")
print(f"   2. feature_columns.pkl")
print(f"   3. label_encoders.pkl")
print(f"   4. data_encoded.csv")

print(f"\n🚀 Next Step: Build Streamlit App!")

======================================================================
✅ MODEL TRAINING COMPLETE!
======================================================================

📊 Final Results:
   Training Accuracy: 98.54%
   Testing Accuracy: 85.83%
   Total Predictions: 120
   Correct: 103
   Wrong: 17

🎯 Model Performance:
   🌟 EXCELLENT - Ready for production!

📁 Saved Files:
   1. cricket_model.pkl
   2. feature_columns.pkl
   3. label_encoders.pkl
   4. data_encoded.csv

🚀 Next Step: Build Streamlit App!